<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Short URL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <form method="POST" action="{{ url_for('short.add_link')}}">
        {{ form.hidden_tag() }}
        <div class="field">
          <label class="label">Original URL</label>
          <div class="control">
              {{ form.original_url(size=150) }}
              {% for error in form.original_url.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </div>
        </div>
        <div class="field">
          <label class="label">New URL</label>
          <div class="control">
              {{ form.short_url(value=url_for('short.redirect_to_url', short_url=new_link, _external=True), size=150) }}
              {% for error in form.original_url.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
        </div>
        <input type="submit">
      </form>
    </div>
  </section>
  </body>
</html>